.container {
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    scroll-snap-align: start;
    position: relative;
}

.imageSection {
    height: 55%;
    position: relative;
    overflow: hidden;
}

.image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contentSection {
    height: 45%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
}

.content {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 22px;
    font-weight: 600;
    color: #111827;
    margin: 0;
}

.subtitle {
    font-size: 17px;
    color: #6b7280;
    margin-top: 12px;
    margin-bottom: 0;
    line-height: 1.5;
}

.button {
    margin-top: 24px;
    background: #50cfad;
    color: #09077d;
    border: none;
    border-radius: 16px;
    padding: 18px 24px;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    font-family: system-ui;
}

.button:active {
    opacity: 0.9;
}